!.gitignore
**/**

#
# include what you want to keep first, reincluding fails
# !.gitignore  do not ignore the .gitignore file
# **/**  ignore all files and folders starting from the level of .gitignore

### the following is only present in case we want to have different rules later on

## this directory only pushes pdf files from any locations in this folder
##
## only do changes to the files in case you KNOW WHAT YOU ARE DOING !!

## ignore everything
#*

## but do not ignore files ending with a slash = directories
#!*/

## and do not ignore files anding with ".pdf"
#!*.pdf

## and do not ignore the ".gitignore" file
#!.gitignore

